@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
  }

  body {
    @apply bg-white text-black antialiased;
  }

  ::selection {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
